:root {
    --md-primary-fg-color: #0085ff;
    --md-primary-bg-color: #121212;
    --md-default-bg-color: #121212;
    --md-default-fg-color: #ffffff;
    --md-accent-bg-color: #0085ff;
    --md-accent-fg-color: #ffffff;
  }
  
@media (prefers-color-scheme: light) {
    :root {
        --md-primary-fg-color: #0085ff;
        --md-primary-bg-color: #ffffff;
        --md-default-bg-color: #ffffff;
        --md-default-fg-color: #000000;
        --md-accent-bg-color: #0085ff;
        --md-accent-fg-color: #000000;
    }
}